body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
}

#canvas-background {
  background-color: white;
}

#canvas-background,
#main-view,
#shadow-view {
  position: absolute;
}
/* 
.active {
  background-color: rgb(153, 153, 255);
  transform: scale(1.1);
} */
