body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: black;
}

#canvas-background {
  background-color: white;
}

#canvas-background,
#main-view,
#shadow-view {
  position: absolute;
}

.btn {
  border: none;
  outline: none;
  padding: 3px 3px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.active,
.btn:hover {
  background-color: #666;
  color: white;
}
